.contacts a {
  text-decoration: none;
  color: #eee; }

.contacts a:hover.active {
  background-color: var(--primary); }

.contacts .list-group-item .badge, .contacts .list-group-item .media small {
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  right: 10px; }

.contacts .list-group-item .media .online-status {
  position: absolute;
  top: 20px;
  left: 16px;
  width: 10px;
  border-radius: 100%;
  height: 10px;
  background-color: #13e700; }

.contacts .list-group-item .media .ltsmsg {
  margin: 0px;
  padding: 0px;
  max-width: 200px;
  overflow: hidden; }

.contacts .list-group-item:hover {
  background-color: #25282c; }

.contacts .settings {
  height: 60px; }
  .contacts .settings div {
    padding: 17px; }
  .contacts .settings div:hover {
    background-color: #25282c; }

.list-group-item {
  background-color: #343a40; }

/* Contact List Section End --------------------------------- */
/* Messaeg Aka Chat Section Start --------------------------------- */
.message_section ul {
  height: 88vh;
  overflow: scroll; }
  .message_section ul li {
    position: relative;
    display: inline-block;
    background-color: #82ffee;
    border-radius: 20px 20px 20px 0px;
    max-width: 70%;
    min-width: 25%;
    padding: 10px  20px 20px 20px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 5px 0px;
    clear: both;
    line-height: 22px;
    color: black; }
    .message_section ul li .reply {
      border-radius: 5px;
      font-size: 13px;
      width: 120%;
      padding-left: 5px;
      margin-left: -10%;
      border-left: 3px solid rgba(0, 0, 0, 0.657);
      background-color: rgba(75, 75, 75, 0.2); }
      .message_section ul li .reply span {
        font-weight: bold; }
    .message_section ul li .deltime {
      position: absolute;
      right: 20px; }
    .message_section ul li img {
      max-width: 300px; }
  .message_section ul li.me {
    border-radius: 20px 20px 0px 20px;
    float: right;
    clear: both; }
  .message_section ul li:hover {
    background-color: #cbffff; }

.message_section .sendmsgsection i {
  cursor: pointer;
  transition: .3s; }
  .message_section .sendmsgsection i:hover {
    color: var(--primary); }

/* Contact Destion Section  -------------------------*/
.contactdtls {
  width: 100%; }
  .contactdtls img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: 2px solid #eee;
    padding: 2px;
    transition: .2s;
    background-color: var(--info); }
  .contactdtls .calicn .col {
    margin: 0px; }
    .contactdtls .calicn .col:hover {
      color: #343a40;
      transform: rotate(20deg); }
  .contactdtls img:hover {
    border: 5px solid var(--info);
    padding: 2px; }
  .contactdtls ul {
    padding: 0px; }
    .contactdtls ul li {
      padding: 0px 10px;
      width: 100%;
      margin: 0px;
      transition: .4s;
      border-right: 2px solid #313333;
      list-style-type: none; }
      .contactdtls ul li span {
        color: #b4b4b4;
        font-family: 'Courier New', Courier, monospace; }
    .contactdtls ul li:hover {
      background: #343a40; }

@media screen and (max-width: 1100px) {
  .contacts .ltsmsg {
    width: 100px; } }

@media screen and (max-width: 900px) {
  .contacts .media h6 {
    font-size: 10px;
    font-weight: bold; }
  .contacts .badge, .contacts .media small {
    position: absolute;
    bottom: 0px;
    right: 40px; } }

.sidepanel {
  width: 0px;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 10px; }
  .sidepanel ul li {
    font-weight: bold; }
    .sidepanel ul li i {
      color: #eeecec;
      margin-left: 20px; }
    .sidepanel ul li:hover {
      color: white; }
    .sidepanel ul li:last-child {
      color: #ec5252; }
      .sidepanel ul li:last-child i {
        color: #ff5959; }
  .sidepanel .tophead img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    padding: 2px;
    border: 3px solid #25282c; }
  .sidepanel .tophead .myselfinfo {
    padding-left: 10px;
    color: #f1f1f1; }
    .sidepanel .tophead .myselfinfo h5 {
      padding-left: 10px; }
  .sidepanel .closeside a {
    margin: -10px 20px 20px 0px;
    text-decoration: none;
    font-size: 35px;
    color: #eeeeee;
    float: right;
    width: 50px;
    text-align: center;
    height: 50px;
    transition: 0.3s; }
    .sidepanel .closeside a:hover {
      transform: rotate(90deg);
      color: #be2929; }
